{% extends "base.html" %}
{% load static form_tags %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="column is-one-third is-offset-one-third">
    <h3 class="title has-text-black">Login</h3>
    <hr>
    <article class="message is-info">
        <div class="message-body has-text-left">
            Please login to proceed.
        </div>
    </article>
            
    <div class="box">
        <form method="post">
            {% csrf_token %}
            {{ form|bulma_form }}
            <div class="field">
                <button type="submit" class="button is-block is-info is-large is-fullwidth">Login</button>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
        <div class="block">
            <p class="has-text-weight-light is-size-6">
                Don't have an account yet?
                <a href="{% url 'register' %}">register here</a>
            </p>
        </div>
        <div class="block">
            <p class="has-text-weight-light is-size-6"><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
        </div>
            
    </div>
</div>

{% endblock %}
