{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block content %}
<div class="column is-one-third is-offset-one-third">
    <h3 class="title has-text-black">Password set</h3>
    <hr>
    <article class="message is-success has-text-left">
        <div class="message-body">
            Your password has been successfully reset. You may now use your new credentials to login.
        </div>
    </article>
    <div class="buttons">
        <a class="button is-block is-info is-large is-fullwidth" href="{% url 'login' %}">Return to Login</a>
    </div>
</div>
{% endblock %}
