{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}


{% block content %}
<div class="column is-half is-offset-one-quarter">
    <h3 class="title has-text-black">Reset your password</h3>
    <hr>
    <p class="block subtitle has-text-weight-light is-size-6 has-text-left">An email with password reset instructions has been sent.</p>
    <article class="message is-warning">
        <div class="message-body has-text-left is-size-6">
            Check your inbox and spam folder for an email with password reset instructions.
            If you can't find it ensure you provided the email you originally <strong>registered</strong> with.
        </div>
    </article>
</div>
{% endblock %}
