{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="column is-three-fifths is-offset-one-fifth">
    <h3 class="title has-text-black">Dashboard</h3>
    <hr>
    <p class="subtitle has-text-weight-light is-size-6">Welcome to your dashboard.</p>
</div>


        <div class="column is-three-fifths has-background-black">
        </div>
                <div class="column is-one-third">
            <nav class="panel">
                <p class="panel-heading is-left">
                    Settings
                </p>
                <a class="panel-block is-left" href="{% url 'edit' %}">Edit your profile</a>
                <a class="panel-block is-left" href="{% url 'password_change' %}">Change your password</a>
                <div class="panel-block">
                    <a class="button is-danger is-outlined is-fullwidth" href="{% url 'logout' %}">Logout</a>
                </div>
            </nav>
        </div>
    
{% endblock %}
