{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="column is-one-fifth"></div>
<div class="column is-three-fifths">
    <h3 class="title has-text-black">Dashboard</h3>
    <hr>
    <p class="subtitle has-text-weight-light is-size-6">Welcome to your dashboard.</p>
</div>
<div class="column is-one-fifth">
</div>

<div class="column is-2">
    <div class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent is-vertical has-text-white">
                <a class="tile is-child box has-background-dark has-text-white is-size-4" href="{% url 'edit' %}">
                    Edit profile
                </a>
                <a class="tile is-child box has-background-dark has-text-white is-size-4" href="{% url 'password_change' %}">Change your password</a>
            </div>
        </div>
    </div>
            
                        
{% endblock %}
