{% extends "base.html" %}
{% load static form_tags %}
{% block title %}Create an account{% endblock %}
{% block content_title %}

<div class="column is-one-third is-offset-one-third">
    <h3 class="title has-text-black">Create an account</h3>
    <hr>
    <p class="subtitle has-text-weight-light is-size-6">Sign up using the form below:</p>
</div>
<div class="column is-one-third"></div>
{% endblock %}
{% block content %}
<div class="column is-one-third is-offset-one-third">
    <div class="box">
        <form method="post">
            {{ user_form|bulma_form }}
            <div class="field">
                <button type="submit" class="button is-block is-info is-primary is-large is-fullwidth">Create account</button>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="column is-one-third">
    </div>
{% endblock %}
